header{
    background-color: gold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 10px rgb(255, 0, 0);
}

div{
    display: flex;
    justify-content: space-between;
    
    
}


nav{
    margin: auto;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    
}

ul li{
    padding: 0px  45px;
    position: relative;
    right: 50px;
    text-decoration: none;
    
}

li a{
    list-style-type: none;
    text-decoration: none;
    
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    color: black;
}

a:hover{
    background-color: rgb(255, 115, 0);
    border-radius: 9px;
}

main {
    padding: 20px 60px;
    
  }

section{
    padding-top: 55px;

}

.product{
    display: inline-block;
    text-align: center;
}

.product ,img{
    height: 300px;
    width: 300px;
}

.buy{
    text-decoration: none;
    border: 1px solid gold;
    background-color: rgba(255, 217, 0, 0.747);
    border-radius: 10px;
}

.info{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    background-color: gold;
    text-align: center;
    margin: 0px -76px;
    padding-bottom: 40px;
}

h5{
    text-align: center;
    position: relative;
    top: 10px;
    font-family: 'Times New Roman', Times, serif
}

h4{
    font-family: 'Times New Roman', Times, serif
}